.weather-card {
	padding: 10px 20px;
	background: white;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
}

.weather-card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: .8;
	z-index: 1;
	mix-blend-mode: color;
	mix-blend-mode: hue;
	mix-blend-mode: hard-light;
}

.weather-card > * {
	color: white;
	position: relative;
	z-index: 100;
}

.weather-temp {
	display: flex;
}
.weather-temp__time {
	flex: 1;
	text-align: center;
	padding-top: 10px;
}
.weather-temp__time ul {
	list-style-type: none;
}
.weather-temp__time li {
	list-style-type: none;
	margin: 3px 0px;
}

.weather-card__delete {
	position: absolute;
	right: 5px;
	top: 5px;
	border: 0px;
	height: 30px;
	width: 30px;
	font-size: 100%;
	color: lightgray;
	cursor: pointer;
}
.weather-temp__time-header {
	margin-bottom: 5px;
}
